
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://appseed.us/admin-dashboards/django-dashboard-atlantis">
									Sistem Informasi Pencatatan Bus dan Penumpang Terminal Ir. Soekarno Klaten
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; 2020
                        - coded by TRI 2018
					</div>				
				</div>
            </footer>
            