{% extends "layouts/base.html" %}
{% load widget_tweaks %}

{% block title %} Edit Pencatatan Bus {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Edit Pencatatan Bus</h4>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Bus</div>
            </div>
            <form method="post" novalidate>
							{% csrf_token %}
							<div class="card-body">
              {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
              {% endfor %}
              {% for field in form.visible_fields %}
              <div class="form-group">
                  {{ field.label_tag }}
                  {% render_field field class="form-control" %}
                  {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
              </div>
							{% endfor %}
							</div>
							<div class="card-action">
								<button type="submit" class="btn btn-primary">submit</button>
							</div>
          </form>
						<!-- <div class="card-body">
							<div class="row">
								<div class="col-md-6 col-lg-12">
                  <div class="form-group">
										<label for="busId">ID Bus</label>
										<select class="form-control" id="busId">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
											<option>11</option>
											<option>12</option>
										</select>
									</div>
									<div class="form-group">
										<label for="penumpangDatang">Penumpang Datang</label>
										<input type="number" class="form-control" id="penumpangDatang" placeholder="Penumpang datang">
									</div>
									<div class="form-group">
										<label for="penumpungTurun">Penumpang Turun</label>
										<input type="number" class="form-control" id="penumpungTurun" placeholder="Penumpang turun">
									</div>
									<div class="form-group">
										<label for="penumpangNaik">Penumpang Naik</label>
										<input type="number" class="form-control" id="penumpangNaik" placeholder="Penumpang naik">
									</div>
									<div class="form-group">
										<label for="penumpangBerangkat">Penumpang Berangkat</label>
										<input type="number" class="form-control" id="penumpangBerangkat" placeholder="Penumpang berangkat">
									</div>
									<div class="form-group">
										<label for="waktuDatang">Waktu Datang</label>
										<input type="datetime" class="form-control" id="waktuDatang" placeholder="waktu datang">
									</div>
									<div class="form-group">
										<label for="waktuBerangkat">Waktu Berangkat</label>
										<input type="datetime" class="form-control" id="waktuBerangkat" placeholder="Waktu Berangkat">
									</div>
                  <input type="text" id="jenis" hidden>
								</div>	
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Submit</button>
							<button class="btn btn-danger">Cancel</button>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}	
